input , select , .ant-picker{
    box-shadow: none !important;
    margin-top: 10px;
    border: 1px solid black !important;
    width: 100% !important;
    border-radius: 3px !important;
    height: 35px !important;
}

h2{
    font-size: 30px !important;
    padding: 10px;
    font-weight: bold !important;
    text-align: center;
}

/* date range selector css */
.ant-picker-input input{
    border: none !important;
}